body {
  background: #272727;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-section {
  background: transparent;
  max-width: 600px;
  width: 90%;
  margin: 30px auto;
}

.clock-holder {
  width: 100%;
  background: #747474;
  margin: 30px auto;
  position: relative;
}

.stopwatch {
  padding: 60px 0px;
  text-align: center;
}
.stopwatch span {
  background: #14a76c;
  color: #fff;
  display: inline-block;
  font-family: monospace;
  font-size: 22px;
  padding: 20px;
  border-radius: 50%;
  width: 70px;
}

.stopwatch .stopwatch-btn {
  background: #fff;
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  transition: background 0.2s;
  cursor: pointer;
}
.stopwatch .stopwatch-btn-red {
  border: 2px solid #ff652f;
  color: #ff652f;
}
.stopwatch .stopwatch-btn-yel {
  border: 2px solid #ffe400;
  color: #ffe400;
}

.stopwatch .stopwatch-btn-gre {
  border: 2px solid #14a76c;
  color: #14a76c;
}
.stopwatch .stopwatch-btn-red:hover {
  background: #ff652f;
  border: 2px solid #ff652f;
  color: #fff;
}
.stopwatch .stopwatch-btn-yel:hover {
  background: #ffe400;
  border: 2px solid #ffe400;
  color: #fff;
}
.stopwatch .stopwatch-btn-gre:hover {
  background: #14a76c;
  border: 2px solid #14a76c;
  color: #fff;
}

/* dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  border: 2px solid #00aba9;
  background: #fff;
  color: #00aba9;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 15vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content li {
  text-align: center;
  width: 15vw;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
