body {
  background: black;
  color: whitesmoke;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-section {
  background: transparent;
  max-width: 600px;
  width: 90%;
  margin: 30px auto;
}

.clock-holder {
  border: 3px solid #66fcf288;
  width: 100%;
  background: #0b0c10;
  /* background: #747474; */
  margin: 30px auto;
  position: relative;
}

.stopwatch {
  padding: 30px 0px;
  text-align: center;
}
.stopwatch span {
  background: #66fcf288;
  color: black;
  display: inline-block;
  font-family: monospace;
  font-size: 22px;
  padding: 20px;
  border-radius: 50%;
  width: 70px;
}

.stopwatch .stopwatch-btn {
  background: #fff;
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 50%;
  /* width: 150px; */
  transition: background 0.2s;
  cursor: pointer;
}
.stopwatch .stopwatch-btn-red {
  background: rgba(255, 0, 0, 0.582);
  color: whitesmoke;
}
.stopwatch .stopwatch-btn-yel {
  background: #9e8f03;
  color: whitesmoke;
}

.stopwatch .stopwatch-btn-gre {
  background: rgba(0, 128, 0, 0.822);
  color: whitesmoke;
}

/* hover effects */
/* .stopwatch .stopwatch-btn-red:hover {
  background: #ff652f;
  border: 2px solid #ff652f;
  color: #fff;
}
.stopwatch .stopwatch-btn-yel:hover {
  background: #ffe400;
  border: 2px solid #ffe400;
  color: #fff;
}
/* .stopwatch .stopwatch-btn-gre:hover {
  border: 2px solid #66fcf288;
} */
*/

/* dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  border: 2px solid #00aba9;
  background: #fff;
  color: #00aba9;
  padding: 10px;
  font-size: 1vw;
  width: 7vw;
  min-width: 50px;
  transition: background 0.2s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1f2833;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content li {
  text-align: center;
  width: 7vw;
  min-width: 50px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: #c5c6c7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
  color: #fff;
}
